<a href="https://colab.research.google.com/github/SaionaraAraujo/Curso-DS-Sigmoidal/blob/master/Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Scikit-Learn

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/heart-disease-uci.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

Já sabemos que as linhas representam, cada uma,  uma entrada única, um e cada coluna representa uma variável, que para machine learning, vamos tratar como feature (variável, atributo).

Para criarmos um modelo de regressão com este dataset, que está sendo importado como um Dataframe, um tipo de variável da biblioteca Pandas, seria necessário dividí-lo em uma matriz X contendo as variáveis independentes (features) e um vetor alvo y contendo as variáveis dependentes (variáveis alvos).

In [ ]:
#Matriz X, excluindo a nossa variável alvo, a que vamos prever
X = df.drop('num', axis=1)

#Vetor contendo apenas a variável alvo
y = df.num

#Vamos ver as dimensões dos objetos
print("df.shape:\t{}".format(df.shape))
print("X.shape:\t{}".format(X.shape))
print("y.shape:\t{}".format(y.shape))

df.shape:	(303, 14)
X.shape:	(303, 13)
y.shape:	(303,)

#Interfaces do Scikit-learn

Esta biblioteca é baseada em três APIs principais: **Estimator**, **Predicto** e **Transformer**, comprovando a eficação dos padrões de design.

É importante saber que as APIs não se excluem, ao contrário: elas se complementam.

##Estimator

Esta interface é o que chamamos de coração da biblioteca, pois é por ela que iremos instanciar os objetos e executar o método `fit`, responsável pelo treino do modelo.

Todo algoritmo de machine learning da biblioteca. é baseado na API **Estimator**.
O autor Jake VanderPlas, que escreveu o Python Data Science Handbook, resumiu os 5 passo mais comuns para usar a Estimator:
* Escolher a classe do modelo: é preciso importar a estimator class mais apropriada dentro da biblioteca Scikit-learn;
* Escolher os hiperparâmetros: instanciar a classe com esses valores;
* Separar os dados entre matriz de features e vetor alvo
* Fit do modelo: rodar o método `fit()`  na instância do modelo; e
* Aplicar o modelo aos novos dados, podendo ser:
  * Aprendizado supervisionado - utiliza, normalmente, o `predict()`
  * Aprendizado não-supervisionado - neste caso é comun utilizar o `transform()`ou o `predict()`

In [ ]:
#Importar a regressão logistiva da biblioteca
from sklearn.linear_model import LogisticRegression

#Definir os parâmetros do método: max_iter (Número máximo de iterações tomadas para os solucionadores convergirem) e penalty(Especifica a norma da pena.)
model = LogisticRegression(max_iter=10000, penalty='l2')
model.fit(X, y)

LogisticRegression(max_iter=10000)

# API Predictor

Esta API adiciona uma camada de previsão com base num array teste que recebe.

Quando o aprendizado é supervisionado, o **predicto** retorna um label com a classe prevista ou o valor encontrado pelo modelo aplicado. 

Em alguns modelos há o método `predict_proba`, que informa qual a probabilidade de determinada entrada ser o mesmo previsto a classe.

Há ainda a função `scores` na API que mede a performance do modelo.

In [ ]:
import numpy as np
#Testar com as entradas inseridas no array, qual seria a previsão da classe alvo?
X_test = np.array([36, 1.0, 2.0, 146.9, 210.6, 1.0, 2.0, 183.8, 0.0, 2.1, 2.1, 0.0, 5.0]).reshape(1, -1)
model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0])

# Transformer API

A maioria dos dados reais requere transformações para que sejam analisados, e este é o papel desta API, que através do método `transform` faz o tratamento na entrada que recebe e devolve uma saída atulizada.

Feature extraction, redução de dimensionalidade, padronização, normalização, entre outros, são todos fornecidos por essa API. Veja o exemplo abaixo.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
X_scaler = scaler.transform(X)

In [ ]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,3.0

In [ ]:
X_scaler

array([[ 0.94872647,  0.68620244, -2.25177456, ...,  2.27457861,
        -0.71113139,  0.66000414],
       [ 1.39200191,  0.68620244,  0.87798549, ...,  0.64911323,
         2.5048807 , -0.89023814],
       [ 1.39200191,  0.68620244,  0.87798549, ...,  0.64911323,
         1.43287667,  1.17675157],
       ...,
       [ 0.28381332,  0.68620244,  0.87798549, ...,  0.64911323,
         0.36087264,  1.17675157],
       [ 0.28381332, -1.4572959 , -1.20852121, ...,  0.64911323,
         0.36087264, -0.89023814],
       [-1.82174501,  0.68620244, -0.16526786, ..., -0.97635214,
        -0.71113139, -0.89023814]])